@{
    ViewBag.Title = "Products";
}
<h1>@ViewBag.Title</h1>
<a class="nav-link text-decoration-underline" asp-area="" asp-controller="Products" asp-action="My-Products">All Products</a>
<a class="nav-link text-decoration-underline" asp-area="" asp-controller="Products" asp-action="ById">Product by Id</a>
<a class="nav-link text-decoration-underline" asp-area="" asp-controller="Products" asp-action="AllAsJson">AllAsJson</a>
<a class="nav-link text-decoration-underline" asp-area="" asp-controller="Products" asp-action="AllAsText">AllAsText</a>
<a class="nav-link text-decoration-underline" asp-area="" asp-controller="Products" asp-action="AllAsTextFile">AllAsTextFile</a>
